*.la
*.lo
*.o
*.so
*.a
.libs/
.deps/
modules/
autom4te.cache/
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
run-tests.php
/tests/*.diff
/tests/*.exp
/tests/*.log
/tests/*.mem
/tests/*.out
/tests/*.php
/tests/*.sh
/tests/*.tmp
.vscode/
.idea/
*.swp
*~
